.destination {
    padding: 4rem 6rem;
    text-align:center;
}
.destination h1 {
    font-size: 3rem;
}
.destinationWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.destinationWrapperReverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.destinationText {
    width:45%;
    text-align: start;
    font-size: 1.1rem;
}
.destinationText h2 {
    padding-bottom: 1rem;
}
.destinationImages {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index:-99;
}
.destinationImages img {
    width:49%;
    height:350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0), 0.19;
}
.destinationImages img:nth-child(2) {
    position: absolute;
    top:-10%;
    right:0;
}

@media screen and (max-width:600px){
    .destination {
        padding: 2rem 4rem;
    }
    .destinationWrapper {
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }
    .destinationText {
        width:100%;
    }
    .destinationImages {
        width: 100%;
        margin:1.8rem 0;
    }
    .destinationImages img {
        height:250px;
    }
    .destinationWrapperReverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.5rem;
    }
}