.footer {
    padding: 4rem 6rem;
    background-color: #000000;
    color:#ffffff;
}
.top {
    display: flex;
    align-items:start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top i {
    color:#ffffff;
    font-size: 2rem;
    margin-left:1rem;
}
.top i:hover {
    color:#01959a;
}
.bottom a {
    transition: 0.3s ease-in-out;
}
.bottom a:hover {
    color:#01959a;
    transition: 0.3s ease-in-out;
    transform: translate(5px);
}
.bottom {
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div {
    display: flex;
    flex-direction: column;
}
.bottom h4 {
    font-size: 1.3rem;
    padding:1rem 0 0.8rem 0;

}
.bottom a {
    text-decoration: none;
    color:#ffffff;
    padding-bottom: 0.4rem;
    font-size: 1rem;
}

@media screen and (max-width:600px){
    .footer{
        padding: 4rem 2rem;
    }
    .footer i {
        margin:1rem 1rem 0 0;
    }
    .bottom div {
        width:50%;
    }
    
}